body {
    font-family: menlo;
}

#welcome {
    background-image: url('../img/header.png');
    background-size: 100% 100%;
    height: 90vh;
}

#cloud {
    float: right;
    position: absolute;
    margin-left: 65%;
    overflow: hidden;
}

#lol {
    float: right;
    display: none;
    position: fixed;
    margin-left: -20%;
    z-index: 999;
}

#date {
    margin-top: 18%;
}

#placeholderNav {
    display: none;
}

.active {
    text-decoration: underline;
    color: #003978 !important;
    font-weight: bold;
}

.section-header {
    font-size: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.navigation {
    height: 10vh;
    line-height: 10vh;
    background-color: #EBF5F4;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.nav-button {
    color: #6590B4;
    font-size: 5vh;
}

#about {
    min-height: 75vh;
    font-family: Menlo;
    font-size: 1.2em;
}

#about .section-header {
    color: #003978;
    overflow: hidden;
}

#background-left {
    background-image: url('../img/tabletop.png');
    background-size: 100% 100%;
    height: 55vh;
    width: 55vh;
    float: left;
    margin-left: -33%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#background-right {
    max-height: 45vh;
    max-width: 70vh;
    float: right;
    margin-left: 100%;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

#keyboard-image {
    height:100%;
    width: 100%;
    overflow: hidden;
    margin-left: 10%;
}

.main-text {
    max-width: 65%;
    min-width: 65%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#schedule {
    min-height: 100vh;
    text-align: left;
    background-color: #F4F2F1;
    padding-bottom: 20px;
}

#schedule .section-header {
    color: #328781;
}

#faq {
    background-color: rgb(41, 42, 37);
    color: white;
    font-family: menlo;
}

#apply {
    height: 90vh;
    color: white;
    background-color: #99CACD;
}

.apply-button {
    border: solid white 10px;
    height: 100px;
    line-height: 100px;
    max-width: 350px;
    width: 90vw;
    display: inline-block;
    background-color: #67999C;
    cursor: pointer;
}

#footer {
    height: 100px;
    line-height: 100px;
}


.sublime {
    color: rgb(126, 127, 124);
    padding-left: 0em;
    font: monospace;
}

.sublime ul {
    padding-left: 80%;
    box-sizing: border-box;
}

.sublime li {
    list-style-type: none;
}

.c-header {
    float: left;
    clear: both;
}

.preprocessor {
    color: rgb(232, 68, 112);
}

.file {
    color: rgb(232, 223, 110);
}

.faq-block {
    text-align: left;
}

.answer {
    color: #ffffff;
    padding-top: 0.7em;
}

.keyword {
    color: rgb(93, 205, 199);
    font-style: italic;
}

.params {
    color: rgb(232, 223, 110);
}
.function {
    color: rgb(162, 201, 59);
}

.closing-brace {
    padding-top: 0.5em;
}

#faq-title {
    color: rgb(126, 127, 124);
    clear: both;
}

@media (max-width: 780px ){
    .sublime {
        margin-right: 5%;
    }
}

#sponsors {
    min-height: 100vh;
    background-color: #72B9BC;
    font-family: menlo;
    color: #ffffff;
}

.sponsor-block {
    overflow: hidden;
}

#sponsors img {
    max-width: 100%;
    max-height: 100%;
}

.redwood {
    max-height: 33%;
}

.partner {
    max-height: 200px;
    max-width: 200px;
}

/* ---------------------- DO NOT EDIT BELOW THIS LINE ---------------------- */

/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
